psycopg2
langchain
langchain-core
langchain-classic
langchain-chroma
langchain-ollama
langchain-text-splitters
pypdf
cryptography
pymysql
langchain-community
werkzeug
python-docx 
docx2txt 
unstructured 
markdown 
PyMuPDF 
pdf2image 
striprtf 
odfpy
unstructured[pdf] 
pdf2image 
pillow
easyocr
fastapi
uvicorn 
python-multipart 
aiofiles 
sqlalchemy 
alembic 
fastapi-sessions
python-jose[cryptography] 
passlib[bcrypt]
qdrant-client
sentence-transformers
rank-bm25
pydantic[email]
psycopg2-binary
bcrypt
uv
qdrant-client
python-dotenv
rank-bm25
opencv-python
langchain-openai 
langchain-anthropic 
langchain-google-genai
boto3
supabase
